.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fdfdfd;
  flex: 1;
}
.App-head-box{
  display: flex;
  padding: 5px;
  background-color: #e0e0e0;
  height: 50px;
  width:  80vw;
}
.App-head{
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
  margin: 10px;

}
.App-head h4{
color: #ea12a2;
}
.App-head button{
  flex:1
}
.App-body{
  display: flex;
  flex-direction: column;
  flex:1;
  width: inherit;
  margin-top: 10px;
}
.App-body-box{ 
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-body-box .Button{ 
  width: 5vmin;
  height: 5vmin;
  border-radius: 5vmax;
  color:white;
  font-size: 3vmin;
}
.App-body-box button{ 
  background-color:#ea12a2;
  animation: fill 1s linear;
}
@keyframes fill{
  from{
    opacity: 0.5;
  }
  to{
    opacity: 0.7;
  }
}
.App-box{ 
  padding: 10px;
  border: none;
  background-color: transparent;
  height: max-content;
  width:  70vw;
  margin: 2px;
}

.App-box:focus{ 
  outline: none !important;
  padding: 10px;
  border-style: solid none solid none;
  border-width: 0.1px;
  border-color: #ddd;
  background-color: transparent;
  height: max-content;
  width:  70vw;
  margin: 10px;
}

.App-box:active{ 
  border-width: 2px;
}

.App-box::placeholder{ 
  font-size: 2vmin;
  opacity: 0.6;
}
.App-footer{
  height: max-content;
  padding: 10px;
  text-align: center;
  background-color: #e0e0e0;
  width: 100%;
}
a{
  text-decoration-line: none;
  color:#ea12a2;
}
@media screen and (max-width:300px){
  
}