.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ddd;
  flex: 1;
}
.App-head-box{
  display: flex;
  padding: 5px;
  background-color: #ccc;
  height: 50px;
  width:  80vw;
}
.App-head{
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  margin: 10px;

}
.App-head h4{
color: #ea12a2;
}
.App-head button{
  flex:1
}
.App-body{
  display: flex;
  flex-direction: column;
  flex:1;
  width: inherit;
  margin-top: 10px;
}

.App-box{ 
  line-break: strict;
  padding: 10px;
  border: #ddd;
  background-color: #f1f1f1;
  border-width: 0.1px;
  border-style: solid;
  height: 30vh;
  width:  80vw;
  margin: 10px;
}
.App-footer{
  height: max-content;
  padding: 10px;
  text-align: center;
  background-color: #e0e0e0;
  width: 100%;
}
a{
  text-decoration-line: none;
  color:#ea12a2;
}
@media